<script language="javascript" type="text/javascript">
  $(document).ready(function() {
    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
    	firstDay: 1,
    	height: window.innerHeight * 0.78 - 120,
    	header: {
            left: 'prev,next today',
            center: 'title',
            right: 'basicDay,basicWeek,month'
        },
        events: 'api/event'
    })
  });
</script>

<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-calendar"></span> <%= t('.page_header') %></h1>
</section>

<div id='calendar'></div>