<script language="javascript" type="text/javascript">
  $(document).ready(function() {
    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
    	firstDay: 1,
    	height: window.innerHeight * 0.78 - 120,
        googleCalendarApiKey: 'AIzaSyAmSHSj2a1B0e2GKVBHemNrUSBDEKSwI-E',
        events: {
            googleCalendarId: 'bqh0i24famv71aaa84mneavovg@group.calendar.google.com',
            textColor: 'white',
            color: '#3465A4'
        }
    })
  });
</script>

<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-calendar"></span> <%= t('.page_header') %></h1>
</section>

<div id='calendar'></div>