<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-info-circle"></span> <%= t('.page_header') %></h1>
</section>
<div class="row">
  <div class="col-lg-4 col-xs-12 col-md-6">
    <!-- next events -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="fa fa-trophy"></span>
         Next events
      </div>
      <div class="panel-body">
        List next events of user
      </div>
    </div>
  </div>
  <!-- My groups -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="fa fa-group"></span> 
        My groups
      </div>
      <div class="panel-body">
        List all groups of user
      </div>
    </div>
  </div>
  <!-- New Invites -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="fa fa-envelope-o"></span> 
        My Invites
      </div>
      <div class="panel-body">
        List new Invites of user
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Blog of group -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="fa fa-rss"></span> 
        Blog of group
      </div>
      <div class="panel-body">
        List a blog for each group
      </div>
    </div>
  </div>
  <!-- Blog of group -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="fa fa-rss"></span> 
        Blog of group
      </div>
      <div class="panel-body">
        List a blog for each group
      </div>
    </div>
  </div>
  <!-- Blog of group -->
  <div class="col-lg-4 col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="fa fa-rss"></span> 
        Blog of group
      </div>
      <div class="panel-body">
        List a blog for each group
      </div>
    </div>
  </div>  
</div>
