<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-rss"></span> <%= t('.page_header') %>
  	{{getGroupName()}}
  	<button style="margin-top: 14px; font-size: 25px;" type="button" ng-click="redirect_to_dashboard()" class="close pull-right" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </h1>
</section>
<body>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div id="scrollarea" class="panel panel-default box-dashboard mes-box"  style="margin-bottom: 0px; overflow-y: scroll; overflow-x: hidden">
				<!--messages of groups-->
				<div class="panel-body" id="message_body">
					<!-- read messages -->
					<div  class="panel panel-default inbox-dashboard" 
						ng-init="center_messages()" 
						ng-repeat="message in selectedGroupMessages track by $index"
						ng-show="currentUserIsSender(message) || !currentlyRead(message, selectedGroup.index, $index, true)">
						<div class="panel-body inbox-dashboard">
							<div name="mes-pic" class="row center-row">
								<div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
									<div class="big-box">
										<img class="img-circle" ng-src="{{message.image_path}}"/>
									</div>
								</div>
								<div name="mes-text" class="col-lg-7 col-md-7 col-sm-8 col-xs-7 uncenter">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-xs-12 uncenter">
											<div class="mini-box message-name">
												{{message.name}}:
											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-xs-12 uncenter">
											<div class="mini-box message-text">
												{{message.text}}
											</div>
										</div>
									</div>
								</div>
								<div name="mes-time" class="col-lg-3 col-md-3 col-xs-3 center">
									<div class="big-box message-time pull-right">
										{{parseTime(message.created_at)}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- unread messages -->
					<div  class="panel panel-default inbox-dashboard unread" 
						ng-init="center_messages()" 
						ng-repeat="message in selectedGroupMessages track by $index"
						ng-show="!currentUserIsSender(message) && currentlyRead(message, selectedGroup.index, $index, true)">
						<div class="panel-body inbox-dashboard">
							<div name="mes-pic" class="row center-row">
								<div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 center">
									<div class="big-box">
										<img class="img-circle" ng-src="{{message.image_path}}"/>
									</div>
								</div>
								<div name="mes-text" class="col-lg-7 col-md-7 col-sm-8 col-xs-7 uncenter">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-xs-12 uncenter">
											<div class="mini-box message-name">
												{{message.name}}:
											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-xs-12 uncenter">
											<div class="mini-box message-text">
												{{message.text}}
											</div>
										</div>
									</div>
								</div>
								<div name="mes-time" class="col-lg-3 col-md-3 col-xs-3 center">
									<div class="big-box message-time pull-right">
										{{parseTime(message.created_at)}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<form role="form" name="NewForm">
					<div class="input-group input-group-sm">
						<input  name="input-text"
								type="text" 
								class="form-control mes-footer"
								style="border-top-width: 0px !important;"
								placeholder="<%= t('.new_message') %>"
								ng-model="selectedGroup.text"
								ng-disabled="!NewForm.$valid">
						<span class="input-group-btn">
							<button class=" btn btn-primary btn-mes-input" ng-click="send_message_modal(selectedGroup.id, selectedGroup.text)" type="submit">
								<span class="glyphicon glyphicon-ok"></span> 
								<%= t('.send') %>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
<body>