<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-info-circle"></span> <%= t('.page_header') %></h1>
</section>

<div class="jumbotron">
  <h2>Welcome to Scheudler</h2>
  <h2>...<h2>
  <a style="text-decoration: none;">
       <button style="margin-top: 12px" 
               id="send" name="send" 
               class="btn btn-primary btn-block">
               Next events
       </button>
   </a>
   <a style="text-decoration: none;">
     <button style="margin-top: 12px" type="button" class="btn btn-primary btn-block">
    My groups
     </button>
   </a>
   <a style="text-decoration: none;">
     <button style="margin-top: 12px" type="button" class="btn btn-primary btn-block">
    New invites
     </button>
   </a>
   <a style="text-decoration: none;">
     <button style="margin-top: 12px" type="button" class="btn btn-primary btn-block">
    Message Blogs of groups
     </button>
   </a>
</div>