<section class="hidden-print">
  <h1 class="page-header"><span class="fa fa-dashboard"></span> <%= t('.page_header') %></h1>
</section>

<div class="jumbotron">
  <h1>Hello scheudler</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Be cool</a></p>
</div>