<% content_for :robots, "INDEX, FOLLOW" %>
<% content_for :title, t('.page_title') %>
<% content_for :page_header, t('.page_header') %>

<h1 class="page-header"><%= t('.page_header') %></h1>
<p>contact us...</p>